.mid-width{
    width: 55%;
}

.icon-width {
    width: 20px;
    margin-top: 13px;
}

.margin-top{
    margin-top: 100px !important;
}

section{
    margin-top: 0px !important;
}


@media (max-width: 400px){

    .margin-top{
        margin-top: 50px !important;
    }

    .text-capitalize{
        text-align: center;
    }

    .mid-width{
        width: 100%;
    }

    form{
        margin-right: 40px;
    }

    .account .buttons{
        margin-bottom: 20px;
    }

    .account .icon-width{
        top: 0px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 576px) {

    .margin-top{
        margin-top: 50px !important;
    }

    .text-capitalize{
        text-align: center;
    }

    .mid-width{
        width: 100%;
    }

    form{
        margin-right: 40px;
    }

    .account .buttons{
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {

   .margin-top{
        margin-top: 50px !important;
    }

    .text-capitalize{
        text-align: center;
    }

    .mid-width{
        width: 100%;
    }

    form{
        margin-right: 40px;
    }

    .account .buttons{
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .margin-top{
        margin-top: 20px !important;
    }

    .mid-width{
        width: 60%;
    }
}
  
@media only screen and (min-width: 992px) and (max-width:1200px){

    .margin-top{
        margin-top: 40px !important;
    }

    .mid-width{
        width: 60%;
    }
}