section{
    margin-top: 0 !important;
}

.width-img{
    width: 100%;
    max-width: 100%;
}

.button-margin{
    margin-top: -80px;
}

.fw500{
    font-weight:500 !important;
}

.width-text{
    width: 50%;
}

.background-text{
    background-color: #3B3B3B;
    border-radius: 22px;
    padding: 12px;
    padding-right: 30px;
    padding-left: 30px;
}

.More{
    margin-top: 100px !important;
}

.footer{
    margin-top: 100px!important;
}


@media (max-width: 400px){

    .button-margin{
        margin-top: 0px;
    }

    .CTA-img{
        width: 80%;
    }

    .none-row{
        display: none;
    }

    .non-col{
        display: none;
    }

    .width-text{
        width: 100%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 576px) {

    .button-margin{
        margin-top: 0px;
    }

    .none-row{
        display: none;
    }

    .non-col{
        display: none;
    }

    .width-text{
        width: 100%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    .button-margin{
        margin-top: 0px;
    }

    .none-row{
        display: none;
    }

    .non-col{
        display: none;
    }

    .width-text{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .width-text{
        width: 100%;
        text-align: start !important;
    }

    .background-text{
     margin-bottom: 50px !important;
    }

    .non-col{
        display: none;
    }
}
  
@media only screen and (min-width: 992px) and (max-width:1200px){

    .background-text{
        padding-right: 20px;
        padding-left: 20px;
    }
}