.addresce{
    margin-top: 100px;
    margin-bottom: 100px;
}

.color-plus{
    color:  #00AC4F;
}

.border-box{
    border: 1px solid #3B3B3B;
}


@media (max-width: 400px){

    .col-8 img{
        display: none;
    }
}