.full-width{
    width: 100%;
    background-color: #2B2B2B ;
    border: 1px solid #3B3B3B;
    border-radius: 15px;
}

.icon-margin{
    margin-left: 94%;
    top: 18px;
}

/* input[type=search]{
    background-color: black ;
} */

.hr{
   background-color:  #3B3B3B;
   margin-top: 80px;
}